<div class="row">
    <div class="col-md-3">
            <%= link_to gravatar_for(user, size: 50), user.name %></br>
            <div class="followings-followers">
                <span><%= user.name %></span> </br>
                <span><%= user.country %></span>
                <span><%= link_to "view profile", user %></span>
                <hr>
            </div>
    </div>
</div>